<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Compra - Travel Zone</title>
    <style>.cta-button:hover {background-color:#e6551a;transform:translatey(-2px)}</style>
</head>

<body style="background-color:#e0e0e0; background-image:url(https://www.transparenttextures.com/patterns/sandpaper.png); font-family:Arial, sans-serif; margin:0; padding:0" bgcolor="#e0e0e0">
    <div class="container" style="background-color:#fff; border:1px solid #ccc; border-radius:8px; box-shadow:0 4px 8px rgba(0, 0, 0, 0.1); margin:0 auto; max-width:600px; padding:20px; width:100%" bgcolor="#ffffff" width="100%">
        <div class="header" style="background:linear-gradient(45deg, #FD661E, #ff8c1a); border-radius:8px 8px 0 0; box-shadow:0 4px 8px rgba(0, 0, 0, 0.1); color:#fff; padding:30px 0; text-align:center" align="center">
            <h1 style="font-size:28px; letter-spacing:1px; margin:0; text-shadow:2px 2px 4px rgba(0, 0, 0, 0.2)">¡Compra confirmada, [nombre]!</h1>
        </div>
        <div class="content" style="color:#333; line-height:1.6; padding:30px; text-align:left" align="left">
            <p style="font-size:16px; margin:0 0 20px">¡Hola [nombre]!</p>
            <div class="separator" style="background-color:#FD661E; height:2px; margin:20px 0" bgcolor="#FD661E" height="2"></div>
            <p style="font-size:16px; margin:0 0 20px">Gracias por tu compra en <strong>Travel Zone</strong>. A continuación, te proporcionamos los detalles de tu compra:</p>

            <h2 style="font-size:20px; margin:20px 0 10px">Detalles de la Orden:</h2>
            <p style="font-size:16px; margin:0 0 10px"><strong>Número de Orden:</strong> [orderNumber]</p>
            <p style="font-size:16px; margin:0 0 10px"><strong>Fecha de Compra:</strong> [purchaseDate]</p>
            <p style="font-size:16px; margin:0 0 10px"><strong>Destino:</strong> [destination]</p>
            <p style="font-size:16px; margin:0 0 10px"><strong>Fecha de Vuelo:</strong> [flightDate]</p>

            <h2 style="font-size:20px; margin:20px 0 10px">Pasajeros:</h2>
            <ul style="font-size:16px; margin:0 0 20px; padding-left:20px">
                [passengerList]
            </ul>

            <div class="separator" style="background-color:#FD661E; height:2px; margin:20px 0" bgcolor="#FD661E" height="2"></div>
            <p style="font-size:16px; margin:0 0 20px">Si tenés alguna pregunta o necesitás asistencia, no dudes en contactarnos. ¡Estamos aquí para ayudarte!</p>
            <div class="cta-container" style="align-items:center; display:flex; justify-content:space-between; margin-top:20px">
                <a href="https://travelzone-git-develop-grupo03s-projects.vercel.app/" class="cta-button" style='align-items:center; background-color:#FD661E; border-radius:4px; box-shadow:0 4px 8px rgba(0, 0, 0, 0.2); color:#fff; display:inline-flex; font-family:"Arial", sans-serif; font-size:16px; font-weight:bold; height:50px; justify-content:center; padding:0 24px; text-decoration:none; transition:background-color 0.3s, transform 0.3s' bgcolor="#FD661E" height="50">Busca más ofertas </a>
                <img src="https://res.cloudinary.com/dfaej4bi8/image/upload/v1725503654/Logos/bhp8ov5gqdnoynmkboiz.png" alt="Travel Zone Logo" class="logo" style="max-width:50px; margin-left:auto">
            </div>
        </div>
            <div class="footer" style="background:linear-gradient(45deg, #FD661E, #ff8c1a); border-radius:0 0 8px 8px; border-top:1px solid #ddd; color:#fff; font-size:12px; margin-top:30px; padding:20px; text-align:center; display: block;" align="center">
                <p style="margin:5px 0; color:#fff">© 2024 Travel Zone. Todos los derechos reservados.</p>
                <p style="margin:5px 0">Este correo fue enviado a [email] porque se realizó una compra en Travel Zone.</p>
            </div>
    </div>
</body>
</html>
